@media only screen and (max-width: 576px) {
    /* Unit list */
    .hotline .hotline__title, .language-locate li {
        font-size: 10px;
    }
    .menu__logo img {
        max-width: 110px;
    }
    .menu__item li a {
        font-size: 10px;
    }
    .card-title {
        font-size: 14px;
    }
    .card-text {
        font-size: 11px;
    }
    .card-bottom a {
        font-size: 12px;
    }
    .descript-model h6 {
        font-size: 13px;
    }
    .descript-model p {
        font-size: 11px;
        line-height: 16px;
    }
    .modal-body__content .data-content li {
        padding: 10px 5px;
    }
    .arw {
        top: 30px;
        left: 90%;
    }
    .t-center {
        text-align: center;
    }
    .header__test-left {
        display: inline-block;
    }
    .main-wrapper {
        width: 300px;
    }
    .img-top {
        display: none;
    }
    .icon-bar {
        width: 50px;
    }
    .wrapper-main img {
        width: 260px;
    }
    .result-test h2 {
        font-size: 25px;
    }
    .content {
        padding: 40px 25px 30px;
    }
}

@media only screen and (max-width: 768px) { 
    .header__test {
        padding: 0 !important;
    }
}


@media only screen and (max-width: 1200px) {
    .header__test-left img {
        width: 152px;
    }

    .header__test-left h6 {
        font-size: 17px;
    }
    .time {
        padding: 10px 42px 5px 42px;
    }

    .time h6 {
        font-size: 12px;
        left: 12%;
    }

    .time span {
        font-size: 18px;
    }
}